// Default settings
.btn-d {
  width: 7rem;
  height: 2rem;
  font-size: 1em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 1px solid rgba(0, 0, 0, 0.13);
  margin: 10px 0; // for display, remove it if u don't need it
  transition: 0.3s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}
// Mobile nav btn
.mob-btn {
  width: 30px;
  height: 30px;
}
// Border radius
.btn-br1 {
  border-radius: 2.5px;
}
.btn-br2 {
  border-radius: 7.5px;
}
.btn-br3 {
  border-radius: 30px;
}
// BTN COLOR
.btn-ok {
  background-color: rgba(81, 241, 60, 0.911);
}
.btn-no {
  background-color: rgba(248, 0, 0, 0.952);
  a {
    color: rgba(240, 248, 255, 0.918);
  }
  &:hover {
    a {
      color: aliceblue;
    }
  }
}
.btn-blue {
  background-color: rgb(0, 136, 248);
  a {
    color: rgba(240, 248, 255, 0.918);
  }
  &:hover {
    a {
      color: aliceblue;
    }
  }
}
