.socials {
  height: fit-content;
  width: 170px;
  ul {
    li {
      a {
        i {
          font-size: 1.2rem;
          border-radius: 10000%;
          padding: 10px;
          &:hover {
            color: rgb(250, 155, 38);
            // background-color: rgba(241, 183, 112, 0.308);
          }
        }
      }
    }
  }
}
